/* Estilos para la tabla */
table.mat-table {
    width: 100%;
}

/* Estilos para el contenedor de botones y título */
.divContenedorDeBotones {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tituloEvolucion {
        margin: 0;
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    .BotonGuardar {
        margin: 5px;
        background-color: rgb(28, 197, 244);
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(0, 0, 0, 0.5);

        @media (max-width: 768px) {
            width: 100%;
            margin: 10px 0;
        }
    }
}

/* Estilos para los formularios */
.formularioEvolucion {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    @media (max-width: 768px) {
        width: 100%;
        padding: 10px;
    }
}

/* Estilos para los campos del formulario */
.divFormularioFila1,
.divFormularioFila2,
.divFormularioFila3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas si es necesario */
    justify-content: space-between;

    .campoFila1,
    .campoFila2,
    .campoFila3 {
        flex: 1;
        margin: 5px;

        @media (max-width: 768px) {
            flex: 100%;
            margin: 5px 0;
        }
    }
   
}

.campoFila4 {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra las firmas y sus etiquetas */
}

/* Estilos para la tabla */
table.mat-table {
    width: 100%;
}

/* Estilos para el contenedor de botones y título */
.divContenedorDeBotones {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tituloEvolucion {
        margin: 0;
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    .BotonGuardar {
        margin: 5px;
        background-color: rgb(28, 197, 244);
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(0, 0, 0, 0.5);

        @media (max-width: 768px) {
            width: 100%;
            margin: 10px 0;
        }
    }
}

/* Estilos para los formularios */
.formularioEvolucion {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    @media (max-width: 768px) {
        width: 100%;
        padding: 10px;
    }
}

/* Estilos para los campos del formulario */
.divFormularioFila1,
.divFormularioFila2,
.divFormularioFila3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas si es necesario */
    justify-content: space-between;

    .campoFila1,
    .campoFila2,
    .campoFila3 {
        flex: 1;
        margin: 5px;

        @media (max-width: 768px) {
            flex: 100%;
            margin: 5px 0;
        }
    }
   
}

.campoFila4 {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra las firmas y sus etiquetas */
}

/* Estilos específicos para las firmas */
.divFormularioFila4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
        display: flex;
        flex-direction: colum;
        align-items: center;
        margin: 0 10px; /* Espacio entre las firmas */

        img, strong {
            max-width: 100%;
            height: auto; /* Mantiene la proporción de la imagen */
            margin-bottom: 5px; /* Espacio entre la imagen y la etiqueta */
        }

        .strongPaciente {
            margin-top: 5px; /* Espacio entre la imagen y la etiqueta */
            text-align: center; /* Centra la etiqueta debajo de la imagen */
            margin-left: 150px; /* Centra la etiqueta debajo de la imagen */
        }

        .strongDoctor {
            margin-top: 5px; /* Espacio entre la imagen y la etiqueta */
            text-align: center; /* Centra la etiqueta debajo de la imagen */
            margin-right: 150px; /* Centra la etiqueta debajo de la imagen */
        }
        @media (max-width: 600px) {
            .strongPaciente, .strongDoctor {
                margin: 0;
            }
        }
    }
}

/* Estilos para el contenido desplazable */
.scrollable-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/* Estilos para el contenido desplazable */
.scrollable-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}