<form class="formularioAgregarEvolucion" [formGroup]="formularioAgregarEvolucion">

    <div class="scrollable-content">
        <!-- NOMBRES y APELLIDOS -->
        <div class="divFormularioFila1">
            <mat-form-field appearance="fill" class="campoFila1">
                <mat-label>Nombre del Paciente</mat-label>
                <input matInput [value]="nombrePacienteSeleccionado" readonly>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="campoFila1">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="FECHA" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="campoFila1">
                <mat-label>Hora de entrada</mat-label>
                <input matInput [ngxTimepicker]="myTimepicker1" formControlName="HORA"
                    placeholder="Selecciona una hora">
                <ngx-material-timepicker-toggle matSuffix [for]="myTimepicker1"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #myTimepicker1></ngx-material-timepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="campoFila1">
                <mat-label>Hora de salida</mat-label>
                <input matInput [ngxTimepicker]="myTimepicker2" formControlName="HORA_FIN"
                    placeholder="Selecciona una hora">
                <ngx-material-timepicker-toggle matSuffix [for]="myTimepicker2"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #myTimepicker2></ngx-material-timepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="campoFila1">
                <mat-label>Atendido por</mat-label>
                <mat-select formControlName="DOCTOR">
                    <mat-option *ngFor="let doctor of lstDoctores" [value]="doctor.nombre">
                        {{ doctor.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="divFormularioFila2">

            <mat-form-field appearance="fill" class="campoFila2">
                <mat-label>Anotacion</mat-label>
                <input matInput formControlName="NOTA" placeholder="Anotacion">
            </mat-form-field>

            <mat-form-field appearance="fill" class="campoFila2">
                <mat-label>Plantilla</mat-label>
                <mat-select [(value)]="fraseSeleccionada" (selectionChange)="onSelectionChange($event)"
                    formControlName="COMPLICACION">
                    <mat-option *ngFor="let frase of listaFrasesXEvolucion" [value]="frase">
                        {{ frase.TITULO }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">

                <button mat-button color="primary"
                    style="margin-left: 10px; height: 24px; line-height: 24px; padding: 0 4px; min-width: 24px;"
                    (click)="ponerFraceEvolucion()">T</button>
                <button mat-button color="primary"
                    style="margin-left: 10px; height: 24px; line-height: 24px; padding: 0 4px; min-width: 24px;"
                    (click)="ponerFraceProximaCita()">P</button>
            </div>
        </div>



        <div class="divFormularioFila3">
            <mat-form-field appearance="fill" class="campoFila3">
                <mat-label>Tratamiento</mat-label>
                <textarea #tratamiento matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="6"
                    formControlName="EVOLUCION" style="min-height: 130px;" placeholder="Tratamiento"></textarea>

            </mat-form-field>
        </div>

        <div class="divFormularioFila4">
            <mat-form-field appearance="fill" class="campoFila4">
                <mat-label>Proxima cita</mat-label>
                <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="6"
                    formControlName="PROXIMA_CITAstr" placeholder="Proxima cita"></textarea>
            </mat-form-field>
        </div>

        <div class="divFormularioFila6">
            <div>
                <img *ngIf="evolucionPaciente.imgFirmaPaciente != ''" id="firmaPaciente"
                    src="{{evolucionPaciente.imgFirmaPaciente}}" alt="Red dot" />
            </div>

            <div>
                <img *ngIf="evolucionPaciente.imgFirmaDoctor != ''" id="firmaDoctor"
                    src="{{evolucionPaciente.imgFirmaDoctor}}" alt="Red dot" />
            </div>

        </div>
        <div class="divFormularioFila6">
            <div>
                <strong *ngIf="evolucionPaciente.imgFirmaPaciente != ''">Firma del paciente</strong>
            </div>

            <div>
                <strong *ngIf="evolucionPaciente.imgFirmaDoctor != ''">Firma del doctor</strong>
            </div>

        </div>

    </div>


    <div class="divContenedorDeBotones">
        <button class="BotonGuardar" mat-raised-button (click)="guardarEvolucion()">Guardar Evolucion</button>
        <button class="BotonFirmar" mat-raised-button (click)="agregarFirmas()">Agregar Firma</button>
        <button class="BotonCancelar" mat-raised-button (click)="cancelarEvolucion()">Cancelar</button>
    </div>
</form>