.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3px;
}



.mat-expansion-panel {
    background-color: transparent; // Hace que el panel sea transparente
     // Ajusta este valor según tus necesidades
}

.mat-expansion-description-panel{
    background-color: transparent;
    height: 45px;
}

.contenedorArriba {
    position: relative; // Necesario para que z-index funcione
    z-index: 2; // Ajusta este valor según tus necesidades
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 26px;
    background-color: rgb(28, 197, 244);
    border-radius: 20px;
    //border-top-left-radius: 10px;
    //border-top-right-radius: 10px;
    padding: 5px 2px; // Espaciado opcional
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}

.error-input {
    color: red;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.blink {
    animation: blink 1s linear infinite;
}



.barra-superior {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(28, 197, 244);
    border-radius: 20px;
    height: 22px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}


.botonMostrarBuscar{
    margin-left: auto;
}

.filaClickeable {
    cursor: pointer;
  }

  .custom-select {
    position: relative;
    width: 100%;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}

.custom-select select {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 8px;
    /* Ajuste del espaciado interno */
    font-size: 12px;
    /* Tamaño de fuente */
    cursor: pointer;
    outline: none;
    // appearance: none; /* Oculta la flecha del select nativo */
}

.buscarAgenda {
    //margin-left: auto; // Esto empujará la búsqueda a la derecha
    position: relative;
    //margin-right: 5px; // Esto despegará la búsqueda 5px del margen derecho
    //margin-left: 5px; // Esto despegará la búsqueda 5px del margen izquierdo
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    //padding: 5px 5px;
    width: 100%;
    //flex: 1;
    height: 28px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}


    
    


.buscarAgenda input {
    border: none;
    padding: 8px;
    flex: 1;
    margin-left: 5px; // Reducir el margen izquierdo
    font-size: 12px; // Reducir el tamaño de la fuente
    height: 100%; // Asegurar que no se desborde del contenedor
    width: 100%;
    outline: none; // Eliminar el recuadro de borde negro al hacer clic
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
    background-color: transparent;
    //height: 26px;
}


   
    

.buscarAgenda button {
    //align-items: center;
    background-color: transparent;
    border: none;
    height: 100%; // Asegurar que no se desborde del contenedor
    position: relative;
    top: -5px;
    transition: 0.3s;
}

.columnaBusqueda{
    font-size: 12px;
}




.contenedorAbajo {
    flex-direction: column;
    height: 100%;
}

.contenedor-izquierdo {
    width: 100%; // Establece el ancho del elemento al 20% del ancho de su contenedor.
    height: 100%;
    //justify-content: center;
    //align-items: center;
    //flex: 1; // Permite que el elemento crezca y se encoja para utilizar el espacio disponible en su contenedor flex.
    //display: flex; // Establece el tipo de visualización del elemento a flex, permitiendo la disposición flexible de sus hijos.
    flex-direction: column; // Los hijos del elemento se apilarán verticalmente.
    //justify-content: center;
    //align-items: center;
    margin-right: 5px; // Añade un margen a la derecha del elemento de 5px. Este es un espaciado opcional.
    border-radius: 8px; // Redondea las esquinas del elemento con un radio de 8px.
    //overflow-x: hidden;
}

.scrollable-content-izquierdo {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.divCalendario {
    display: block; /* Asegura que el contenedor se comporte como un bloque */
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    padding: 0 5px; /* Opcional: agrega padding si es necesario */
    margin: 0; /* Elimina cualquier margen que pueda estar afectando el ancho */
}

mat-form-field {
    width: 100%; /* Asegura que el campo de formulario ocupe todo el ancho del contenedor */
}



.divBotonAgendarCita {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; // Añade un margen superior de 10px
}


.boton-agendar {
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    background-color: transparent; // Botón transparente
    color: rgb(28, 197, 244);
    /* Color de fondo del botón */
    // Color de texto del botón
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: rgb(28, 197, 244);
        /* Color de fondo del botón */
        // Cambio de color de fondo al pasar el mouse
        color: #fff; // C
    }

    //#ff4081; /* Color de fondo del botón */
}

.formulario-cita {
    height: 215px; // Ajusta este valor según tus necesidades
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9; // Fondo del formulario
    padding: 10px; // Espacio interno del formulario
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px; // Bordes redondeados
    overflow: auto; // Muestra una barra de desplazamiento si es necesario
    width: 90%;
    margin: 10px auto 10px auto; // Centra el formulario en la página
    

    * {
        box-sizing: border-box; // Incluye el padding y los bordes en el tamaño total de los elementos
    }

    .fila {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 8px; // Reduce el espacio entre filas
    }

    .campo-formulario {
        flex: 1; // Cada campo ocupa un tercio del ancho total
        margin-right: 2px; // Reduce el espacio entre campos
        margin-bottom: 1px; // Reduce el espacio inferior del campo
    }

    label {
        display: none;
    }

    input[type="text"],
    select[type="text"],
    select[type="tel"],
    input[type="tel"] {
        width: 100%; // Ocupa todo el ancho del campo
        padding: 5px; // Espacio interno del campo
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        box-sizing: border-box;
        transition: border-color 0.3s; // Transición suave para el borde
    }

    input[type="text"]:focus,
    select[type="text"]:focus,
    select[type="tel"]:focus,
    input[type="tel"]:focus {
        outline: none; // Elimina el contorno de enfoque
        border-color: #5cace1; // Cambia el color del borde al enfocar el campo
    }

    select:disabled {
        background-color: #fff;
        /* Cambia esto al color de fondo de tus otros campos de entrada */
        color: #ccc;
        /* Cambia esto al color de texto de tus otros campos de entrada */
    }
}

.boton-generar-cita {
    border: 2px solid transparent;
    background-color: transparent;
    color: #007bff;
    /* Color del texto */
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    //justify-content: center;
    //align-items: center;
}

.boton-generar-cita:hover {
    background-color: rgba(0, 123, 255, 0.1);
    /* Color de fondo al pasar el ratón */
    border-color: #007bff;
    /* Color del borde al pasar el ratón */
    color: #0056b3;
    /* Color del texto al pasar el ratón */
}

.scrollable-content-derecho {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.contenedor-derecho {
    overflow-x: auto;
    width: 100%;
    //position: relative;

    //flex: 4;
    padding: 5px; // Espaciado opcional

    mat-cell input {
        border: none;
        outline: none;
        pointer-events: none;
        background-color: transparent;
    }
}

x



.scrollable-content-derecho {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: auto;
    background-color: transparent;
}




.tabla-horarios {
    height: 100%;
    border-collapse: collapse;
    border: none;
    outline: none;
    border-radius: 8px;
    /* Estilo para la fila del encabezado de la tabla */
    .fila-superior {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .hora-column {
        font-size: 10px; // Reduce el tamaño de la fuente
        color: white;
        background-color: rgb(28, 197, 244);
        //position: sticky;
        left: 0;
       // z-index: 1;
        width: 90px;
        min-width: 90px;
    }

    .hora-column-header{
        position: sticky;
        color: white;
        background-color: rgb(28, 197, 244);
        left: 0;
        z-index: 1;
        width: 90px;
        min-width: 90px;
    }

    

    .acciones-column-header{
        position: sticky;
        align-items: center;
        right: 2px;
        z-index: 1;
        width: 65px;
        min-width: 65px;
    }
    
    .nombre-column {
        //flex-basis: auto;
        //flex: 2 1 auto; /* Ajustar el espacio según sea necesario */
        width: 140px;
        min-width: 140px; /* Asegura que la columna tenga más espacio */
        font-size: 10px;
    }

    .inputNombre {
        font-size: 10px;
    }

    .nombre-column-header{
        width: 140px;
        min-width: 140px;
    }

    .celular-column {
        width: 90px;
        min-width: 90px; /* Asegura que la columna tenga más espacio */
        font-size: 10px;
    }

    .inputCelular {
        font-size: 10px;
    }

    .celular-column-header{
        width: 90px;
        min-width: 90px;
    }
}






.seleccionado {
    //background-color: rgb(32, 244, 28);
    background-color: rgb(28, 197, 244);
}

.selected-row {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}


/* Estilo cuando se selecciona una fila */
.mat-row.selected {
    background-color: rgb(28, 197, 244);
    /* Cambia el color de fondo cuando se selecciona */
}

/* Estilo cuando se resalta una fila */
.mat-row.highlighted {
    background-color: rgba(28, 197, 244, 0.5);
    /* Cambia el color de fondo con un poco de transparencia cuando se resalta */
}

/* Estilo al pasar el mouse sobre una fila */
.mat-row {
    font-size: 12px; // Reduce el tamaño de la fuente
    transition: background-color 0.3s;
}






.highlighted {
    background-color: rgb(28, 197, 244);
    /* Cambia esto al color que prefieras */
}






.hora-column:hover {
    background-color: rgb(28, 197, 244);
}




  
