.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3px;
}



.mat-expansion-panel {
    background-color: transparent; // Hace que el panel sea transparente
    // Ajusta este valor según tus necesidades
}

.mat-expansion-description-panel {
    background-color: transparent;
    height: 45px;
}

.contenedorArriba {
    position: relative; // Necesario para que z-index funcione
    z-index: 2; // Ajusta este valor según tus necesidades
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 22px;
    background-color: rgb(28, 197, 244);
    border-radius: 20px;
    //border-top-left-radius: 10px;
    //border-top-right-radius: 10px;
    padding: 8px 2px; // Espaciado opcional
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}

.error-input {
    color: red;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 1s linear infinite;
}



.barra-superior {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(28, 197, 244);
    border-radius: 20px;
    height: 18px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}

.selector-silla {
    flex: 1;
}

.custom-select {
    position: relative;
    width: 16%;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}

.filaClickeable {
    cursor: pointer;
}

.custom-select select {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 8px;
    /* Ajuste del espaciado interno */
    font-size: 12px;
    /* Tamaño de fuente */
    cursor: pointer;
    outline: none;
    // appearance: none; /* Oculta la flecha del select nativo */
}

.custom-select label {
    position: absolute;
    top: 50%;
    left: 5px;
    /* Espacio a la izquierda del label */
    transform: translateY(-50%);
    font-size: 12px;
    /* Tamaño de fuente */
    color: #6c757d;
}



.buscarAgenda {
    margin-left: auto; // Esto empujará la búsqueda a la derecha
    margin-right: 5px; // Esto despegará la búsqueda 10px del margen derecho
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 5px;
    max-width: 50%;
    flex: 1;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Añade sombra para dar profundidad
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}



.buscarAgenda input {
    border: none;
    flex: 1;
    margin-left: 5px; // Reducir el margen izquierdo
    font-size: 14px; // Reducir el tamaño de la fuente
    height: 100%; // Asegurar que no se desborde del contenedor
    outline: none; // Eliminar el recuadro de borde negro al hacer clic
    transition: 0.3s; // Añade transiciones para suavizar los cambios de estado
}


.buscarAgenda button {
    //align-items: center;
    background-color: transparent;
    border: none;
    height: 100%; // Asegurar que no se desborde del contenedor
    position: relative;
    top: -5px;
    transition: 0.3s;
}




.contenedorAbajo {
    position: relative; // Necesario para que z-index funcione
    z-index: 1; // Ajusta este valor según tus necesidades
    display: flex;
    //flex: 1; // Para que los contenedores se expandan para llenar el espacio disponible
}

.contenedor-izquierdo {
    width: 18%; // Establece el ancho del elemento al 20% del ancho de su contenedor.
    height: 100%;
    justify-content: center;
    align-items: center;
    //flex: 1; // Permite que el elemento crezca y se encoja para utilizar el espacio disponible en su contenedor flex.
    display: flex; // Establece el tipo de visualización del elemento a flex, permitiendo la disposición flexible de sus hijos.
    flex-direction: column; // Los hijos del elemento se apilarán verticalmente.
    justify-content: center;
    align-items: center;
    margin-right: 5px; // Añade un margen a la derecha del elemento de 5px. Este es un espaciado opcional.
    border-radius: 8px; // Redondea las esquinas del elemento con un radio de 8px.
    overflow-x: hidden;
}

.scrollable-content-izquierdo {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.divCalendario {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; // Añade un margen superior de 10px
}

.mi-calendario {
    width: 77%;
    height: 20%; // Cambiado para ocupar todo el espacio disponible
}

.divBotonAgendarCita {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; // Añade un margen superior de 10px
}


.boton-agendar {
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    background-color: transparent; // Botón transparente
    color: rgb(28, 197, 244);
    /* Color de fondo del botón */
    // Color de texto del botón
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: rgb(28, 197, 244);
        /* Color de fondo del botón */
        // Cambio de color de fondo al pasar el mouse
        color: #fff; // C
    }

    //#ff4081; /* Color de fondo del botón */
}

.formulario-cita {
    height: 215px; // Ajusta este valor según tus necesidades
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9; // Fondo del formulario
    padding: 0.5px; // Espacio interno del formulario
    border-radius: 10px; // Bordes redondeados
    overflow: auto; // Muestra una barra de desplazamiento si es necesario

    * {
        box-sizing: border-box; // Incluye el padding y los bordes en el tamaño total de los elementos
    }

    .fila {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 8px; // Reduce el espacio entre filas
    }

    .campo-formulario {
        flex: 1; // Cada campo ocupa un tercio del ancho total
        margin-right: 2px; // Reduce el espacio entre campos
        margin-bottom: 1px; // Reduce el espacio inferior del campo
    }

    label {
        display: none;
    }

    input[type="text"],
    select[type="text"],
    select[type="tel"],
    input[type="tel"] {
        width: 100%; // Ocupa todo el ancho del campo
        padding: 5px; // Espacio interno del campo
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        box-sizing: border-box;
        transition: border-color 0.3s; // Transición suave para el borde
    }

    input[type="text"]:focus,
    select[type="text"]:focus,
    select[type="tel"]:focus,
    input[type="tel"]:focus {
        outline: none; // Elimina el contorno de enfoque
        border-color: #5cace1; // Cambia el color del borde al enfocar el campo
    }

    select:disabled {
        background-color: #fff;
        /* Cambia esto al color de fondo de tus otros campos de entrada */
        color: #ccc;
        /* Cambia esto al color de texto de tus otros campos de entrada */
    }
}

.boton-generar-cita {
    border: 2px solid transparent;
    background-color: transparent;
    color: #007bff;
    /* Color del texto */
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    //justify-content: center;
    //align-items: center;
}

.boton-generar-cita:hover {
    background-color: rgba(0, 123, 255, 0.1);
    /* Color de fondo al pasar el ratón */
    border-color: #007bff;
    /* Color del borde al pasar el ratón */
    color: #0056b3;
    /* Color del texto al pasar el ratón */
}

.scrollable-content-derecho {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    background-color: transparent;
}

.contenedor-derecho {
    overflow-x: auto;
    width: 75%;
    flex: 4;
    //padding: 10px; // Espaciado opcional

    mat-cell input {
        border: none;
        outline: none;
        pointer-events: none;
        background-color: transparent;
    }
}

x .tabla-horarios {
    height: 100%;
    border-collapse: collapse;
    border: none;
    outline: none;
    border-radius: 8px;

    //background-color: white;
    
    
}

/* Estilo para la fila del encabezado de la tabla */
.fila-superior {
    position: sticky;
    top: 0;
    z-index: 1;
    //background-color: white;
    // background-color: transparent; // Hace que el fondo sea transparente
}

.seleccionado {
    //background-color: rgb(32, 244, 28);
    background-color: rgb(28, 197, 244);
}

.selected-row {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}


/* Estilo cuando se selecciona una fila */
.mat-row.selected {
    background-color: rgb(28, 197, 244);
    /* Cambia el color de fondo cuando se selecciona */
}

/* Estilo cuando se resalta una fila */
.mat-row.highlighted {
    background-color: rgba(28, 197, 244, 0.5);
    /* Cambia el color de fondo con un poco de transparencia cuando se resalta */
}

/* Estilo al pasar el mouse sobre una fila */
.mat-row {
    font-size: 12px; // Reduce el tamaño de la fuente
    transition: background-color 0.3s;
}

.hora-column {
    font-size: 14px; // Reduce el tamaño de la fuente
    //padding: 1px 1; // Reduce el padding vertical
    //line-height: 0.5;
    color: white;
    background-color: rgb(28, 197, 244);
}


.highlighted {
    background-color: rgb(28, 197, 244);
    /* Cambia esto al color que prefieras */
}


// .hora-column-contenedor {
//     width: 100px;
//     min-width: 100px;
// }

.hora-column-header {
    color: black;
    background-color: rgb(28, 197, 244);
}


.hora-column:hover {
    background-color: rgb(28, 197, 244);
}


/* Media Queries para adaptar a tablets y móviles */
@media (max-width: 768px) {
    .custom-select {
        width: 30%;
        /* Aumenta el ancho en pantallas más pequeñas */
    }

    .contenedor-izquierdo {
        width: 25%;
    }

    .mi-calendario {
        width: 100%;
        height: 30%;
        /* Ajusta la altura para pantallas más pequeñas */
    }

    .formulario-cita {
        height: auto;
        /* Ajusta la altura del formulario para pantallas más pequeñas */
    }

    .buscarAgenda {
        max-width: 100%;
        flex: 1;
    }
}

@media (max-width: 480px) {
    .custom-select {
        width: 50%;
    }

    .contenedor-izquierdo {
        width: 40%;
    }

    .barra-superior,
    .contenedorArriba {
        height: auto;
        padding: 5px;
    }

    .formulario-cita {
        height: auto;
    }

    .buscarAgenda {
        flex-direction: column;
        max-width: 100%;
    }

    .mi-calendario {
        width: 100%;
        height: 40%;
    }

    .contenedor-derecho {
        overflow-x: auto;
        width: 75%;
        flex: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .contenedor-derecho>.columna {
        box-sizing: border-box;
        padding: 10px;
        border-right: 1px solid #ccc;
    }

    .contenedor-derecho>.columna:not(.hora) {
        flex: 0 0 auto;
        min-width: 200px;
    }

    .contenedor-derecho>.columna.hora {
        flex: 0 0 50px;
        /* Ajuste a 50px para un ancho menor */
        min-width: 50px;
        /* Mantiene un ancho mínimo de 50px */
        padding: 5px;
        /* Reduce el padding interno */
        text-align: center;
        /* Centra el texto */
    }
}