.divFila1DatosPersonales,
.divFila2DatosPersonales,
.divFila3DatosPersonales,
.divFila4DatosPersonales,
.divFila5DatosPersonales,
.divFila6DatosPersonales,
.divFila7DatosPersonales,
.divFila8DatosPersonales,
.divFila9DatosPersonales,
.divFila10DatosPersonales,
.divFila11DatosPersonales,
.divFila12DatosPersonales,
.divFila13DatosPersonales {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* Asegúrate de que no sobrepase el ancho de su contenedor */

    .campoFila1,
    .campoFila2,
    .campoFila3,
    .campoFila4,
    .campoFila5,
    .campoFila6,
    .campoFila7,
    .campoFila8,
    .campoFila9,
    .campoFila10,
    .campoFila11,
    .campoFila12,
    .campoFila13 {
        flex: 1;
        margin: 5px;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }

        @media (max-width: 768px) {
            flex: 100%;
            margin: 5px 0;
        }
    }
}

.scrollable-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    width: 100%;
    /* Asegúrate de que no sobrepase el ancho de su contenedor */

    mat-select:disabled {
        background-color: #f5f5f5;
    }
}

.formularioAntecedentes {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 100%;
    /* Evita que se desborde el contenido */
    box-sizing: border-box;
    /* Incluye padding y border en el ancho total */
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        width: 100%;
        padding: 10px;
    }

    .divContenedorDeBotones {
        text-align: right;

        .BotonGuardar,
        .BotonCancelar {
            margin: 5px;
            background-color: rgb(28, 197, 244);
            color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        /* Media queries para diferentes tamaños de pantalla */
        @media (max-width: 768px) {
            .divDatosPersonales {
                flex-direction: column;

                .campo,
                .campo-full {
                    flex: 0 0 100%; // Ocupa todo el ancho en pantallas pequeñas
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}