.cardContenedorBusqueda {
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  border: 1px solid #ddd;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 100%;
  box-sizing: border-box;
}

.cardContenedorBusqueda:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}




.contenedorBusqueda {
  display: flex;
  flex-direction: row; /* Mantén los elementos en una fila */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  overflow: hidden; /* Evita que los elementos se salgan del contenedor */
  padding: 10px;
  gap: 10px; /* Espacio entre elementos para un mejor diseño */
}

.divBuscadorSelectFila2 {
  flex: 0 0 10%; /* Ocupa el 20% del contenedor */
}

.divBuscadorInput {
  flex: 0 0 70%; /* Ocupa el 60% del contenedor */
  display: flex;
  gap: 10px; /* Espacio entre el input y los botones */
  align-items: center;
}

.divBotonesBuscarCancelar{
  flex: 0 0 10%; /* Ocupa el 60% del contenedor */
  display: flex;
  gap: 10px; /* Espacio entre el input y los botones */
  align-items: center;
}

.inputBuscar {
  border-radius: 15px;
  border: 1px solid #ddd;
  width: 100%; /* Ajusta el ancho del input para que ocupe el espacio disponible */
  padding: 5px;
}

.botonBuscarPaciente,
.botonCancelarBuscarPaciente {
    margin-left: 10px;
    background-color: rgb(28, 197, 244) !important;
    color: white !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(0, 0, 0, 0.5) !important;; // Combinar las sombras
    border-radius: 5px !important;; // Agregar bordes redondeados a los botones
    padding: 10px 20px !important; // Aumentar el relleno de los botones
    transition: all 0.3s ease !important;; // Agregar una transición suave a los botones

}




.botonCancelarBuscarPaciente {
  margin-left: 5px; /* Mayor margen para el botón Cancelar */
}

.divBuscadorSelect,
.divBuscadorInput {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos dentro de estos divs */
}

.divTituloFila1 {
  margin-left: 20px;
}

.nombrePacienteSeleccionado {
  color: black; 
  font-size: 1.5em;
}

.notaImportantePaciente{
  color: red;
  font-size: 1.0em;
}

.scrollable-content {
  max-height: calc(100vh - 150px); /* Ajusta este valor según el tamaño de tus botones */
  overflow-y: auto;
}

.selectEscogerTipoBusqueda {
  margin-left: 10px;
  min-width: 120px;
}

.name-fields {
  display: flex;
}

.name-field:not(:last-child) {
  margin-right: 10px; /* Define el espacio horizontal entre los campos */
}

.divBuscadorSelect mat-label,
.divBuscadorSelect mat-select,
.divBuscadorInput mat-label,
.divBuscadorInput input {
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.filaClickeable {
  cursor: pointer;
}

.mat-expansion-indicator::after {
  display: none;
  border: none !important;
  color: white;
}


/* Media Queries */

@media screen and (max-width: 1224px) and (min-width: 768px) {
  .contenedorBusqueda {
    display: flex;
    flex-direction: row; /* Mantén los elementos en una fila */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    overflow: hidden; /* Evita que los elementos se salgan del contenedor */
  }

  .divBuscadorSelectFila2, .divBuscadorInput, .divBotonesBuscarCancelar {
    flex: 1; /* Asegúrate de que los elementos ocupen el espacio disponible */
    min-width: 0; /* Permite que los elementos se reduzcan en tamaño si es necesario */
    margin: 0 5px; /* Añade un margen para separar los elementos */
  }

  .botonBuscarPaciente, .botonCancelarBuscarPaciente {
    flex: 1; /* Asegúrate de que los botones ocupen el espacio disponible */
    min-width: 0; /* Permite que los botones se reduzcan en tamaño si es necesario */
  }
}

/* Para móviles */
@media screen and (max-width: 600px) {
  .contenedorBusqueda {
    flex-direction: column; /* Coloca los elementos en una sola columna */
    gap: 5px; /* Menos espacio entre los elementos */
    overflow: auto;
  }

  .inputBuscar {
    font-size: 10px;
    padding: 5px;
  }

  .botonBuscarPaciente,
  .botonCancelarBuscarPaciente {
    width: 100%; /* Los botones ocupan todo el ancho disponible */
    padding: 8px;
    font-size: 12px;
  }

  .name-fields {
    flex-direction: column; /* Los campos de nombre se apilan en una columna */
    margin-right: 0;
  }

  .notaImportantePaciente {
    font-size: 10px;
  }

  .nombrePacienteSeleccionado{
    font-size: 14px;
  }

  .scrollable-content {
    max-height: calc(100vh - 100px);
  }

  .selectEscogerTipoBusqueda {
    margin-left: 0;
    width: 100%; /* El select ocupa todo el ancho disponible */
    min-width: unset; /* Anula el ancho mínimo */
  }

  .divBuscadorSelectFila2,
  .divBuscadorInput,
  .divBotonesBuscarCancelar {
    width: 100%; /* Los divs ocupan todo el ancho disponible */
    flex: 1 1 100%;
  }
}
