.dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // Establece 5 columnas por renglón
  grid-auto-rows: 200px; // Altura fija para todas las filas
  gap: 20px;
  padding: 40px;
  background-color: #fafafa;
  justify-content: center;

  @media (max-width: 1336px) { // Tablets
      grid-template-columns: repeat(3, 1fr); // Reduce a 3 columnas
      padding: 20px;
  }

  @media (max-width: 768px) { // Tablets pequeñas y celulares grandes
      grid-template-columns: repeat(2, 1fr); // Reduce a 2 columnas
      padding: 10px;
      gap: 15px;
  }

  @media (max-width: 480px) { // Celulares
      grid-template-columns: 1fr; // Una columna en pantallas pequeñas
      padding: 5px;
      gap: 10px;
  }
}

.date-range-form {
  grid-column: 1 / -1;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-height: 100px;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);

  .calendars-container {
    display: flex;
    gap: 10px;
    width: 100%; // Asegura que el contenedor ocupe todo el ancho disponible

    mat-form-field {
        flex: 1;
        font-size: 0.8rem;

        .mat-form-field-wrapper {
            padding-bottom: 0.25em;
        }
    }
  }

  button {
      padding: 5px 10px;
      font-weight: 600;
      color: #ffffff;
      background-color: rgb(28, 197, 244);
      border: none;
      border-radius: 8px;
      font-size: 0.8rem;
      cursor: pointer;

      &:hover {
          background-color: rgb(28, 197, 244);
      }
  }

  @media (max-width: 768px) {
      flex-direction: row; // Cambia a columna en pantallas más pequeñas
      gap: 10px;
      max-height: auto;
      
      .calendario{
        width: 180px;
      }

      .calendars-container {
        flex-direction: row;
        width: 100%; // Asegura que el contenedor ocupe todo el ancho disponible

        mat-form-field {
            width: 100%; // Asegura que los campos de formulario ocupen todo el ancho disponible
        }
      }
  }

  @media (max-width: 480px) {
      flex-direction: colum;
      padding: 5px;
      max-height: auto;
      
      .calendario{
        width: 140px;
      }

      .calendars-container {
        flex-direction: colum;
        width: 100%; // Asegura que el contenedor ocupe todo el ancho disponible

        mat-form-field {
            width: 100%; // Asegura que los campos de formulario ocupen todo el ancho disponible
        }
      }
  }
}

.widget {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; // Centra verticalmente el contenido
  align-items: center; // Centra horizontalmente el contenido
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  border-radius: 12px;

  &:hover {
      border-color: rgb(28, 197, 244);
      box-shadow: 0 6px 12px rgba(0,0,0,0.08), inset 0 0 10px rgba(0,0,0,0.2);
  }

  h2 {
      font-size: 1.2rem;
      color: #333;
      margin-bottom: 10px;
      font-weight: 600;
  }

  .metrics {
      font-size: 30px;
      font-weight: 700;
      color: rgb(28, 197, 244);
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

  @media (max-width: 1024px) {
      padding: 20px;
  }

  @media (max-width: 768px) {
      padding: 15px;
  }

  @media (max-width: 480px) {
      padding: 10px;
      h2 {
          font-size: 1rem; // Reduce el tamaño de fuente en pantallas pequeñas
      }
      .metrics {
          font-size: 24px; // Reduce el tamaño de la métrica
      }
  }
}