<div class="dashboard">
    <form class="date-range-form">
        <mat-form-field appearance="fill">
            <mat-label>Fecha inicial</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio" name="fechaInicio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha final</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin" name="fechaFin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit"
            (click)="consultarDatosAdministrativos(fechaInicio, fechaFin)">Consultar</button>
    </form>

    <mat-card class="widget pacientes-atendidos">
        <h2>Pacientes Atendidos</h2>
        <div class="metrics">
            <p>{{ pacientesAsistieron }}</p>
        </div>

    </mat-card>

    <mat-card class="widget pacientes-nuevos">
        <h2>Pacientes Nuevos</h2>
        <div class="metrics">
            <p>{{ pacientesNuevos }}</p>
            
        </div>
    </mat-card>
    
    <mat-card class="widget pacientes-abonaron">
        <h2>Pacientes Abonaron</h2>
        
        <div class="metrics">
            <p>{{ pacientesAbonaron }}</p>
        </div>
        
    </mat-card>
    
    <mat-card class="widget pacientes-inasistentes">
        <h2>Pacientes no Asistieron</h2>
        <div class="metrics">
            <p>{{ pacientesNoAsistieron }}</p>
        
        </div>
    </mat-card>
    <mat-card class="widget pacientes-cancelaron">
        <h2>Citas Canceladas</h2>
        <div class="metrics">
        
            <p>{{ citasCanceladas }}</p>
        </div>
    </mat-card>
    

    <mat-card class="widget total-mora">
        <h2>Total Mora</h2>
        <div class="metrics">
            <p>{{ totalMora | number:'1.0-0' }}</p>
        </div>
    </mat-card>
    <mat-card class="widget total-abonos">
        <h2>Total Abonos</h2>
        <div class="metrics">
            <p>{{ totalAbonos | number:'1.0-0' }}</p>
        </div>
    </mat-card>
    <mat-card class="widget total-ingresos">
        <h2>Total Ingresos</h2>
        <div class="metrics">
            <p>{{ totalIngresos | number:'1.0-0' }}</p>
        </div>
    </mat-card>
    <mat-card class="widget total-egresos">
        <h2>Total Egresos</h2>
        <div class="metrics">
            <p>{{ totalEgresos | number:'1.0-0' }}</p> 
        </div>
    </mat-card>
    <mat-card class="widget total-cartera">
        <h2>Total Cartera</h2>
        <div class="metrics">
            <p>{{ totalCartera | number:'1.0-0' }}</p> 
        </div>
    </mat-card>
    
</div>