<ng-container *ngIf="logeado">
    <mat-toolbar color="primary">
        <div>
            <button mat-icon-button aria-label="Mostrar Menu" (click)="sidenav.toggle()">
                <img src="./assets/RydentLogo.ico" />
            </button>
            {{titulo}}
        </div>
        <div class="divMenuContainer" fxHide.xs>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon class="icon">menu</mat-icon>
                <span class="menu-text">Menú</span>
            </button>


            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/datos-personales">
                    <mat-icon class="icon">person</mat-icon>
                    <span class="menu-text">Datos Personales</span>
                </button>

                <button mat-menu-item routerLink="/antecedentes">
                    <mat-icon class="icon">history_edu</mat-icon>
                    <span class="menu-text">Antecedentes</span>
                </button>

                <button mat-menu-item routerLink="/evolucion">
                    <mat-icon class="icon">update</mat-icon>
                    <span class="menu-text">Evolución</span>
                </button> 

                <button mat-menu-item routerLink="/agenda">
                    <mat-icon class="icon">calendar_today</mat-icon>
                    <span class="menu-text">Agenda</span>
                </button>
            </mat-menu>
        </div>


        <span class="spacer"></span>

        <!-- Select de Sede -->
        <div class="mostrarSedes" fxLayoutGap="30px" style="display: flex; align-items: center;">
            <mat-label>Seleccione Sede</mat-label>
            <mat-select [(value)]="sedeSeleccionada" (selectionChange)="pedirPinSedeSeleccionada($event.value)"
                style="min-width: 150px;">
                <mat-option>La Sede:</mat-option>
                <mat-option *ngFor="let sede of sedes" [value]="sede.idSede">{{sede.nombreSede}}</mat-option>
            </mat-select>
        </div>

        <!-- Select de Doctores -->
        <div class="mostrarDoctores" *ngIf="mostrarDoctores" fxLayoutGap="30px"
            style="display: flex; align-items: center;">
            <mat-label>Seleccione Doctor</mat-label>
            <mat-select [(value)]="doctorSeleccionado" (selectionChange)="onDoctorSeleccionado($event.value)"
                style="min-width: 150px;">
                <mat-option *ngFor="let doctor of lstDoctores" [value]="doctor.id">{{doctor.nombre}}</mat-option>
            </mat-select>
        </div>






    </mat-toolbar>
    <mat-sidenav-container autosize>
        <mat-sidenav #sidenav mode="side">
            <mat-nav-list>
                <div style="padding: 1rem">
                    <mat-icon class="mr-8">brightness_5</mat-icon>
                    <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
                    </mat-slide-toggle>
                    <mat-icon>bedtime</mat-icon>
                </div>
                <app-sidenav-link routerLink="/">
                    <mat-icon class="icon">home</mat-icon>
                    <span> Inicio </span>
                </app-sidenav-link>
                <mat-accordion>
                    <ng-container *ngFor="let objMenu of filtrarMenu(0)">
                        <mat-expansion-panel *ngIf="objMenu.esNodo">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon *ngIf="objMenu.nombreAction != ''"
                                        class="icon">{{objMenu.nombreAction}}</mat-icon>
                                    <span> {{objMenu.nombre}} </span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container *ngTemplateOutlet="menuItem; context: { objMenu: objMenu}"></ng-container>
                        </mat-expansion-panel>
                        <app-sidenav-link *ngIf="!objMenu.esNodo" routerLink="/{{objMenu.nombreController}}/">
                            <mat-icon class="icon">{{objMenu.nombreAction}}</mat-icon>
                            <span> {{objMenu.nombre}} </span>
                        </app-sidenav-link>
                    </ng-container>
                </mat-accordion>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                
                <router-outlet>

                </router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
<ng-container *ngIf="!logeado">
    <mat-toolbar color="primary">
        <div>
            <button mat-icon-button aria-label="Mostrar Menu">
                <img src="./assets/RydentLogo.ico" />
            </button>
            {{titulo}}
        </div>
        <span class="spacer"></span>
        <div style="display: flex; align-items: center;">
            <div style="display: flex; align-items: center;">

                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" [(ngModel)]="correo">

                <button mat-raised-button color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>
            </div>
        </div>
    </mat-toolbar>
    <main>
        
        <router-outlet>

        </router-outlet>
    </main>
</ng-container>

<ng-template #menuItem let-idPadre="objMenu">
    <ng-container *ngFor="let objMenu of filtrarMenu(idPadre.idMenu)">
        <mat-expansion-panel *ngIf="objMenu.esNodo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon *ngIf="objMenu.nombreAction != ''" class="icon">{{objMenu.nombreAction}}</mat-icon>
                    <span> {{objMenu.nombre}} </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="menuItem; context: { objMenu: objMenu}"></ng-container>
        </mat-expansion-panel>
        <app-sidenav-link *ngIf="!objMenu.esNodo" routerLink="/{{objMenu.nombreController}}/">
            <mat-icon class="icon">{{objMenu.nombreAction}}</mat-icon>
            <span> {{objMenu.nombre}} </span>
        </app-sidenav-link>
    </ng-container>
</ng-template>

<ng-template #menuItemTool let-idPadre="objMenu">
    <ng-container *ngFor="let objMenu of filtrarMenu(idPadre.idMenu)">
        <a class="mat-button-class" *ngIf="objMenu.esNodo" mat-menu-item [matMenuTriggerFor]="menuAlterno">
            <mat-icon *ngIf="objMenu.nombreAction != ''" class="icon">{{objMenu.nombreAction}}</mat-icon>
            {{ objMenu.nombre }}
        </a>
        <mat-menu #menuAlterno="matMenu">
            <ng-container *ngFor="let subMenu of filtrarMenu(objMenu.idMenu); let i = index">
                <a mat-menu-item *ngIf="subMenu.esNodo">
                    <span>
                        <mat-icon *ngIf="subMenu.nombreAction != ''" class="icon">{{subMenu.nombreAction}}</mat-icon>
                        {{subMenu.nombre}}
                    </span>

                </a>
                <a *ngIf="!subMenu.esNodo" mat-menu-item routerLink="/{{subMenu.nombreController}}/">
                    <mat-icon *ngIf="subMenu.nombreAction != ''" class="icon">{{subMenu.nombreAction}}</mat-icon>
                    <span> {{subMenu.nombre}} </span>

                </a>

            </ng-container>
        </mat-menu>
    </ng-container>
</ng-template>