/* Establece el estilo base para todos los elementos, eliminando márgenes, paddings, y estableciendo la caja de borde y la fuente por defecto */

/* Estilos para mat-toolbar, definiendo el color de fondo */
mat-toolbar {
  background: rgb(28, 197, 244); /* Color de fondo */
}



/* Utilidad para agregar espacio flexible en diseños flex */
.spacer {
  flex: 1 1 auto;
}

/* Estilos para campos de formulario de inicio de sesión, ajustando dimensiones */
.iniciarsesion-form-field {
  width: 200px; /* Ajusta este valor según tus necesidades */
  height: 36px; /* Ajusta este valor según tus necesidades */
}

/* Estilos para mat-select, incluyendo color de fondo y margen */
mat-select {
  background-color: rgb(237, 242, 244);
  margin-right: 10px;
  border-radius: 3px;
}

.app-container {
  display: flex;
}

.main-content {
  margin-top: 70px; /* Ajusta este valor según la altura de tu barra de navegación */
  margin-left: 250px;
  /* Asegúrate de aplicar cualquier padding o margen necesario aquí para evitar que el contenido toque directamente los bordes del menú lateral */
}

.labelSede {
  margin-right: 7px;
}

.labelDoctor {
  margin-left: 7px;
}

.usuarioActivo {
  display: flex; 
  align-items: center; 
  margin-left: 30px;
  font-weight: 300;
  font-size: 14px;
}






