.divFormularioFila1 {
    //width: 80%;
    display: flex;
    justify-content: space-between;
}

.divFormularioFila1 mat-form-field {
    margin: 0 5px;
    /* Ajusta este valor para obtener el margen que deseas */
}

.divFormularioFila2 {
   // width: 80%;
    display: flex;
    justify-content: space-between;

    .campoFila2 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila3 {
    //width: 80%;
    display: flex;
    justify-content: space-between;

    .campoFila3 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}


.divFormularioFila4 {
    display: flex;
    justify-content: space-between;

    .campoFila4 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila5 {
    display: flex;
    justify-content: space-between;

    .campoFila5 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila6 {
    display: flex;
    justify-content: space-between;

    .campoFila6 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila7 {
    display: flex;
    justify-content: space-between;

    .campoFila7 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila8 {
    display: flex;
    justify-content: space-between;

    .campoFila8 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila9 {
    display: flex;
    justify-content: space-between;

    .campoFila9 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila10 {
    display: flex;
    justify-content: space-between;

    .campoFila10 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila11 {
    display: flex;
    justify-content: space-between;

    .campoFila11 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.scrollable-content {
    max-height: calc(100vh - 200px);
    /* Ajusta este valor según el tamaño de tus botones */
    overflow-y: auto;
}

.formulariodatosPersonales {
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Esto redondea las esquinas */
    padding: 20px;
    width: 90%;
    /* Ajusta esto a lo que necesites */
    margin: 0 auto;
    /* Centra la caja en la página */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    .divContenedorDeBotones {
        text-align: right;

        .BotonGuardar {
            margin: 5px;
            background-color: rgb(28, 197, 244);
            color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            /* Ajusta estos valores para obtener el efecto de sombra que deseas */
        }

        .BotonCancelar {
            background-color: rgb(28, 197, 244);
            color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            /* Ajusta estos valores para obtener el efecto de sombra que deseas */
        }
    }


}

