.divFormularioFila1 {
    display: flex;
    justify-content: space-between;

    .campoFila1 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila2 {
    display: flex;
    justify-content: space-between;

    .campoFila2 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila3 {
    display: flex;
    justify-content: space-between;

    .campoFila3 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila4 {
    display: flex;
    justify-content: space-between;

    .campoFila4 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila5 {
    display: flex;
    justify-content: space-between;

    .campoFila5 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }

    .campoFila6 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 6px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .campoFila6 {
        flex: 1;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.divFormularioFila6>div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        max-width: 100%; // Asegura que la imagen no sea más grande que su contenedor
        height: auto; // Mantiene la relación de aspecto de la imagen
    }
}


.scrollable-content {
    max-height: calc(100vh - 200px);
    /* Ajusta este valor según el tamaño de tus botones */
    overflow-y: auto;
}

.formularioAgregarEvolucion {
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Esto redondea las esquinas */
    padding: 20px;
    width: 90%;
    /* Ajusta esto a lo que necesites */
    margin: 0 auto;
    /* Centra la caja en la página */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    

    .divContenedorDeBotones {
        text-align: right;

        .BotonGuardar {
            margin: 5px;
            background-color: rgb(28, 197, 244);
            color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            /* Ajusta estos valores para obtener el efecto de sombra que deseas */
        }

        .BotonCancelar {
            margin: 5px;
            background-color: rgb(28, 197, 244);
            color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            /* Ajusta estos valores para obtener el efecto de sombra que deseas */
        }
        .BotonFirmar {
            background-color: rgb(28, 197, 244);
            color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            /* Ajusta estos valores para obtener el efecto de sombra que deseas */
        }
    }


}