

<app-sidenav [sedes]="sedes" [sedesConectadas]="sedesConectadas"></app-sidenav>
   
<img *ngIf="showImage" src="assets\sofawre-para-clinicas.jpg" alt="Descripción de la imagen" class="imagen-debajo-sidenav">


<app-spinner></app-spinner>



<!--<div>
  <h3>Mensajes en Tiempo Real</h3>

  <div>
    <input [(ngModel)]="mensaje" placeholder="Escribe un mensaje..." />
    <button (click)="enviarMensaje()">Enviar Mensaje</button>
  </div>

  <ul>
    <li *ngFor="let msg of mensajes">{{ msg }}</li>
  </ul>
</div>-->