<h2 mat-dialog-title class="dialog-title">Hola {{data.name}}</h2>
<mat-dialog-content class="dialog-content">
  <p>{{data.mensaje}}</p>
  <div class="dialog-form-fields">
    <mat-form-field *ngIf="data.mostrarCampoTexto" class="dialog-form-field">
      <textarea matInput placeholder="Observacion" [(ngModel)]="mensajeParaGuardar"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="data.mostrarSelect" class="dialog-form-field">
      <mat-label>Alarma</mat-label>
      <mat-select [(ngModel)]="opcionSeleccionadaMensaje">
        <mat-option value="si">Sí</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
    

    <mat-form-field *ngIf="data.mostrarSelectCitaCancelada" class="dialog-form-field">
      <mat-label>Quien Cancela</mat-label>
      <mat-select [(ngModel)]="opcionSeleccionadaMensaje">
        <mat-option value="PACIENTE">PACIENTE</mat-option>
        <mat-option *ngFor="let doc of lstDoctores" [value]="doc.nombre">{{ doc.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button *ngIf="data.opcion1" (click)="cerrar(data.valor1)">{{data.opcion1}}</button>
  <button mat-button *ngIf="data.opcion2" (click)="cerrar(data.valor2)">{{data.opcion2}}</button>
  <button mat-button *ngIf="data.opcion3" (click)="cerrar(data.valor3)">{{data.opcion3}}</button>
</mat-dialog-actions>

