<mat-card>
  <mat-card-header>
    <mat-card-title>Estado Cuenta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="mostrarMensajeSinEstadoCuenta" class="contenedorEstadoCuenta">
      El paciente no tiene Estado Cuenta con este Doctor
    </div>
    <div *ngIf="!mostrarMensajeSinEstadoCuenta" class="contenedorEstadoCuenta">
      <div class="divFormularioFila1">
        <mat-form-field appearance="fill" class="campoFila11" style="flex: 1;">
          <mat-label>Fecha Inicial</mat-label>
          <input matInput readonly [value]="fechaInicio | date:'dd-MM-yyyy'" placeholder="Fecha Inicial">
        </mat-form-field>
        <mat-form-field appearance="fill" class="campoFila1" style="flex: 1;">
          <mat-label>Estado Cuenta Numero</mat-label>
          <input matInput readonly value={{resultadoConsultaEstadoCuenta.CONSECUTIVO}} placeholder="Hora Entrada">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Selecciona una fase</mat-label>
          <mat-select [(ngModel)]="selectedFase" (selectionChange)="onFaseChange($event)">
            <mat-option *ngFor="let fase of lstFases" [value]="fase.id">{{fase.id}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="campoFila1" style="flex: 1;">
          <mat-label>Descripcion</mat-label>
          <input matInput readonly [value]="descripcionTratamiento" placeholder="Descripcion">
        </mat-form-field>
      </div>
      <div class="divFormularioFila2">
        <mat-form-field appearance="fill" class="campoFila2" style="flex: 1;">
          <mat-label>Costo Del Tratamiento</mat-label>
          <input matInput readonly [value]="costoTratamiento | number:'1.0-0'" placeholder="Costo Del Tratamiento">
        </mat-form-field>
        <mat-form-field appearance="fill" class="campoFila2" style="flex: 1;">
          <mat-label>Cuota Inicial</mat-label>
          <input matInput readonly [value]="cuotaInicial | number:'1.0-0'" placeholder="Cuota Inicial">
        </mat-form-field>
        <mat-form-field appearance="fill" class="campoFila2" style="flex: 1;">
          <mat-label>Numero Cuotas</mat-label>
          <input matInput readonly [value]="numeroCuotas | number:'1.0-0'" placeholder="Numero Cuotas">
        </mat-form-field>
        <mat-form-field appearance="fill" class="campoFila2" style="flex: 1;">
          <mat-label>Valor Cuota</mat-label>
          <input matInput readonly [value]="valorCuota | number:'1.0-0'" placeholder="Valor Cuota">
        </mat-form-field>
        <mat-form-field appearance="fill" class="campoFila2" style="flex: 1;">
          <mat-label>Saldo Mora</mat-label>
          <input matInput readonly [value]="saldoMora | number:'1.0-0'" placeholder="Saldo Mora">
        </mat-form-field>
        <mat-form-field appearance="fill" class="campoFila2" style="flex: 1;">
          <mat-label>Saldo Total</mat-label>
          <input matInput readonly [value]="saldoTotal | number:'1.0-0'" placeholder="Saldo Total">
        </mat-form-field>
      </div>
    </div>
    
    <div *ngIf="!mostrarMensajeSinEstadoCuenta" class="contenedorEstadoCuenta">
      <mat-tab-group>
        <mat-tab label="Pagos Detallados">
          <div class="contenedor-de-la-tabla">
            <table mat-table *ngIf="tipoEstadoCuenta" [dataSource]="resultadosBusquedaEstadoCuentaSinFinanciar">
              <!-- Definición de las columnas de la tabla -->
              <ng-container matColumnDef="FECHA">
                <th mat-header-cell *matHeaderCellDef class="columna-FECHA"> Fecha </th>
                <td mat-cell *matCellDef="let elemento"  class="columna-FECHA"> {{elemento.FECHA
                  | date:'dd-MM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="FACTURA">
                <th mat-header-cell *matHeaderCellDef> Factura </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.FACTURA}} </td>
              </ng-container>
              <ng-container matColumnDef="VALOR_FACTURA">
                <th mat-header-cell *matHeaderCellDef> Valor Factura </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.VALOR_FACTURA | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="RECIBIDO">
                <th mat-header-cell *matHeaderCellDef> Recibido </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.RECIBIDO}} </td>
              </ng-container>
              <ng-container matColumnDef="DESCRIPCION">
                <th mat-header-cell *matHeaderCellDef class="columna-DESCRIPCION"> Descripcion </th>
                <td mat-cell *matCellDef="let elemento" class="columna-DESCRIPCION"> {{elemento.DESCRIPCION}} </td>
              </ng-container>
              <ng-container matColumnDef="ADICIONAL">
                <th mat-header-cell *matHeaderCellDef> Adicional </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.ADICIONAL}} </td>
              </ng-container>
              <ng-container matColumnDef="ABONO">
                <th mat-header-cell *matHeaderCellDef> Abono </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.ABONO | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="NOTACREDITO">
                <th mat-header-cell *matHeaderCellDef> Nota Credito </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.NOTACREDITO | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="SALDO_PARCIAL">
                <th mat-header-cell *matHeaderCellDef> Saldo Parcial </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.SALDO_PARCIAL | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="RECIBIDO_X_NOMBRE">
                <th mat-header-cell *matHeaderCellDef class="columna-NOMBREDOCTOR"> Recibido Por Nombre </th>
                <td mat-cell *matCellDef="let elemento" class="columna-NOMBREDOCTOR"> {{elemento.RECIBIDO_X_NOMBRE}} </td>
              </ng-container>

              <ng-container matColumnDef="NOMBRE_RECIBE">
                <th mat-header-cell *matHeaderCellDef class="columna-NOMBREDOCTOR"> Nombre Recibe </th>
                <td mat-cell *matCellDef="let elemento" class="columna-NOMBREDOCTOR"> {{elemento.NOMBRE_RECIBE}} </td>
              </ng-container>
              <ng-container matColumnDef="CODIGO_DESCRIPCION">
                <th mat-header-cell *matHeaderCellDef> Nombre Recibe </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.CODIGO_DESCRIPCION}} </td>
              </ng-container>


              <!-- Fila de encabezado y filas de datos -->
              <tr mat-header-row *matHeaderRowDef="columnasMostradasEstadoCuentaSinFinanciar"></tr>
              <tr mat-row *matRowDef="let fila  ; columns: columnasMostradasEstadoCuentaSinFinanciar;"></tr>
            </table>
          </div>

          <div class="contenedor-de-la-tabla">
            <table mat-table *ngIf="!tipoEstadoCuenta" [dataSource]="resultadosBusquedaEstadoCuentaFinanciado">
              <!-- Definición de las columnas de la tabla -->

              <ng-container matColumnDef="N_CUOTA">
                <th mat-header-cell *matHeaderCellDef> N° Cuota </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.N_CUOTA}} </td>
              </ng-container>
              <ng-container matColumnDef="FECHA">
                <th mat-header-cell *matHeaderCellDef class="columna-FECHA"> Fecha </th>
                <td mat-cell *matCellDef="let elemento" class="columna-FECHA"> {{elemento.FECHA | date:'dd-MM-yyyy'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="FACTURA">
                <th mat-header-cell *matHeaderCellDef> Factura </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.FACTURA}} </td>
              </ng-container>
              <ng-container matColumnDef="VALOR_FACTURA">
                <th mat-header-cell *matHeaderCellDef> Valor Factura </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.VALOR_FACTURA | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="RECIBIDO">
                <th mat-header-cell *matHeaderCellDef> Recibido </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.RECIBIDO}} </td>
              </ng-container>
              <ng-container matColumnDef="DEBEABONAR">
                <th mat-header-cell *matHeaderCellDef> Debe Abonar </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.DEBEABONAR | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="ABONO">
                <th mat-header-cell *matHeaderCellDef> Abono </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.ABONO | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="ADICIONAL">
                <th mat-header-cell *matHeaderCellDef> Adicional </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.ADICIONAL | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="NOTACREDITO">
                <th mat-header-cell *matHeaderCellDef> Nota Crédito </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.NOTACREDITO | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="CODIGO_DESCRIPCION">
                <th mat-header-cell *matHeaderCellDef> Codigo Descripcion </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.CODIGO_DESCRIPCION}} </td>
              </ng-container>
              <ng-container matColumnDef="DESCRIPCION">
                <th mat-header-cell *matHeaderCellDef class="columna-DESCRIPCION"> Descripción </th>
                <td mat-cell *matCellDef="let elemento" class="columna-DESCRIPCION"> {{elemento.DESCRIPCION}} </td>
              </ng-container>
              <ng-container matColumnDef="PARCIAL">
                <th mat-header-cell *matHeaderCellDef> Parcial </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.PARCIAL | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="SALDO_PARCIAL">
                <th mat-header-cell *matHeaderCellDef> Saldo Parcial </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.SALDO_PARCIAL | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="RECIBIDO_X_NOMBRE">
                <th mat-header-cell *matHeaderCellDef class="columna-NOMBREDOCTOR"> Recibido por Nombre </th>
                <td mat-cell *matCellDef="let elemento" class="columna-NOMBREDOCTOR"> {{elemento.RECIBIDO_X_NOMBRE}} </td>
              </ng-container>
              <ng-container matColumnDef="NOMBRE_RECIBE">
                <th mat-header-cell *matHeaderCellDef class="columna-NOMBREDOCTOR"> Nombre Recibe </th>
                <td mat-cell *matCellDef="let elemento" class="columna-NOMBREDOCTOR"> {{elemento.NOMBRE_RECIBE}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnasMostradasEstadoCuentaFinanciado"></tr>
              <tr mat-row *matRowDef="let fila  ; columns: columnasMostradasEstadoCuentaFinanciado;"></tr>
            </table>
          </div>


        </mat-tab>
        <mat-tab label="Todos Los Tratamientos">
          <div class="contenedor-de-la-tabla">
            <table mat-table [dataSource]="lstRespuestaEstadoCuentaPorPacientePorDoctor">
              <!-- Definición de las columnas de la tabla -->

              <ng-container matColumnDef="FECHA">
                <th mat-header-cell *matHeaderCellDef class="columna-FECHA"> Fecha </th>
                <td mat-cell *matCellDef="let elemento" class="columna-FECHA"> {{elemento.FECHA | date:'dd-MM-yyyy'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="FASE">
                <th mat-header-cell *matHeaderCellDef> Fase </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.FASE}} </td>
              </ng-container>
              <ng-container matColumnDef="ABONO">
                <th mat-header-cell *matHeaderCellDef> Abono </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.ABONO | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="MORA_ACTUAL">
                <th mat-header-cell *matHeaderCellDef> Mora Actual </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.MORA_ACTUAL | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="MORATOTAL">
                <th mat-header-cell *matHeaderCellDef> Mora Total </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.MORATOTAL | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="NUMERO_HISTORIA">
                <th mat-header-cell *matHeaderCellDef> Numero Historia </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.NUMERO_HISTORIA}} </td>
              </ng-container>
              <ng-container matColumnDef="TELEFONO">
                <th mat-header-cell *matHeaderCellDef> Telefono </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.TELEFONO}} </td>
              </ng-container>
              <ng-container matColumnDef="FECHA_INICIO">
                <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.FECHA_INICIO | date:'dd-MM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="VALOR_TRATAMIENTO">
                <th mat-header-cell *matHeaderCellDef> Valor Tratamiento </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.VALOR_TRATAMIENTO | number:'1.0-0'}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="columnasMostradasEstadoCuentaTratamientosPorDoctor"></tr>
              <tr mat-row *matRowDef="let fila  ; columns: columnasMostradasEstadoCuentaTratamientosPorDoctor;"></tr>
            </table>
          </div>

        </mat-tab>
        <mat-tab label="Saldos Por Doctor">
          <div class="contenedor-de-la-tabla">
            <table mat-table [dataSource]="lstRespuestaSaldoPorDoctor">
              <!-- Definición de las columnas de la tabla -->
  
              <ng-container matColumnDef="DOCTOR">
                <th mat-header-cell *matHeaderCellDef> Doctor </th>
                <td mat-cell *matCellDef="let elemento" style="max-width: 50ch;"> {{elemento.DOCTOR}} </td>
              </ng-container>
              <ng-container matColumnDef="VALOR_TOTAL">
                <th mat-header-cell *matHeaderCellDef> Valor Total </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.VALOR_TOTAL | number:'1.0-0'}} </td>
              </ng-container>
              <ng-container matColumnDef="ABONOS">
                <th mat-header-cell *matHeaderCellDef> Abonos </th>
                <td mat-cell *matCellDef="let elemento"> {{elemento.ABONOS | number:'1.0-0'}} </td>
              </ng-container>
  
  
              <tr mat-header-row *matHeaderRowDef="columnasMostradasRespuestaSaldoPorDoctor"></tr>
              <tr mat-row *matRowDef="let fila  ; columns: columnasMostradasRespuestaSaldoPorDoctor;"></tr>
            </table>
          </div>
          
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>