.mat-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Estilo para las celdas de la tabla */
.mat-cell, .mat-header-cell {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  width: auto; /* Añade esta línea */
}

/* Estilo para las celdas de encabezado */
.mat-header-cell {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Estilo para filas impares */
.mat-row:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilo para filas al pasar el mouse */
.mat-row:hover {
  background-color: #f0f0f0;
}

.divFormularioFila1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;

  .campoFila1 {
      flex: 1;

      &:not(:last-child) {
          margin-right: 5px;
      }

      &:not(:first-child) {
          margin-left: 5px;
      }
  }
}

.divFormularioFila2 {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .campoFila2 {
      flex: 1;

      &:not(:last-child) {
          margin-right: 5px;
      }

      &:not(:first-child) {
          margin-left: 5px;
      }
  }
}

.contenedorEstadoCuenta{
  border-radius: 15px;
  border: 1px solid #ddd;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
   // width: 90%;
}
