
<div class="dashboard">
    <mat-card class="widget pacientes-atendidos">
        <h2>Pacientes Atendidos</h2>
        <div class="metrics">
            <canvas id="pieChart"></canvas>
        </div>
    </mat-card>
    
    <mat-card class="widget pacientes-nuevos">
        <h2>Pacientes Nuevos</h2>
        <div class="metrics">
            <canvas id="pacientesNuevosChart"></canvas>
        </div>
    </mat-card>
    <mat-card class="widget pacientes-terminaron">
        <h2>Pacientes Terminaron Tratamiento</h2>
        <div class="metrics">
            <!-- Métricas de pacientes que terminaron tratamiento -->
        </div>
    </mat-card>
    <mat-card class="widget pacientes-abonaron">
        <h2>Pacientes Abonaron</h2>
        <div class="metrics">
            <!-- Métricas de pacientes que abonaron -->
        </div>
    </mat-card>
    <mat-card class="widget pacientes-mora">
        <h2>Pacientes en Mora</h2>
        <div class="metrics">
            <canvas id="barChart"></canvas>
        </div>
    </mat-card>
    <mat-card class="widget pacientes-inasistentes">
        <h2>Pacientes no Asistieron</h2>
        <div class="metrics">
            <!-- Métricas de pacientes inasistentes -->
        </div>
    </mat-card>
    <mat-card class="widget pacientes-cancelaron">
        <h2>Pacientes Cancelaron Cita</h2>
        <div class="metrics">
            <!-- Métricas de pacientes que cancelaron cita -->
        </div>
    </mat-card>
    <mat-card class="widget pacientes-inician-tratamiento">
        <h2>Pacientes Inician Tratamiento</h2>
        <div class="metrics">
            <!-- Métricas de pacientes que inician tratamiento -->
        </div>
    </mat-card>
</div>
